/*General*/

*, *::before, *::after {
    box-sizing: border-box;
}

$font-text: 'Lora', serif;
$color-main: #222222;

body {
    margin: 0 auto;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;  
}

/*Navbar*/

.navbar {
position: relative;
width: 100%;
padding-top: 20px;
height: 100%;    
}

.navbar .container-fluid {
    padding: 5px;
    
}

.navbar ul {
    font-size: 18px;
    position: absolute;
    left: 60%;
    color: #FFFAF4;
   

}

.navbar ul li a {
    color: #FFFAF4;
    
}

.navbar ul li a:hover {
    color: #8b1a07;
    font-weight: bolder;
    font-style: italic;
}


.navbar .navbar-brand {
    color: #8b1a07;
    font-family: 'Pacifico', cursive;
    font-size: 38px;
}



/*Splash*/

.splash {
    height: 100vh;
    
}

.splash-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-image: url('https://images.pexels.com/photos/6958462/pexels-photo-6958462.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}



.splash .page-title {
    color: #FFFAF4;
    font-size: 50px;
    font-style: italic;
    position: absolute;
    text-align: center;
    font-weight: lighter;
    
    top: 50%;
    
    font-family: $font-text;
    line-height: 1.5;
    padding-bottom: 5px;
   
    
}

.splash .page-subtitle {
    color: #FFFAF4;
    position: absolute;
    text-align: center;
    
    top: 60%;
    
    font-size: 60px;
    font-weight: bolder;
    font-family: $font-text;
    line-height: 1.5;
    padding-bottom: 5px;
    
}

.splash a{
position: absolute;

top: 75%;
font-size: 22px;
text-align: center;
padding: 10px;
width: 200px;
background-color: #8b1a07;
color: #ffffff;
font-family: $font-text;

}

.splash a:hover {
    color: black;
    font-weight: bolder;
    font-style: italic;
}


/*Services*/

.services-description {
    text-align: center;
    justify-content:center;
}

.services-title {
    font-size: 50px;
    font-weight: bolder;
    color: $color-main;
    font-family: $font-text;
}

.services-subtitle {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0 0 0.2em #8b1a07;
    color:#65647C;
    font-family: $font-text;
}

.col-icon i {
    color:#8b1a07;
}

.title-col {
    font-size: 25px;
    font-family: $font-text;
    font-weight: bolder;
}

.services p {
    font-size: 18px;
    color: $color-main;
}

/*Portfolio*/
.portfolio {
    background-color: #F6F6F6;
    padding-top: 10px;
}

.portfolio-description {
    text-align: center;
    justify-content:center;
}

.portfolio-title {
    font-size: 50px;
    font-weight: bolder;
    color: $color-main;
    font-family: $font-text;
}

.portfolio-subtitle {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0 0 0.2em #8b1a07;
    color:#65647C;
    font-family: $font-text;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    text-align: center;
}

.card-title {
    font-size: 20px;
    font-weight: bolder;
    color: $color-main;
    font-family: $font-text;
}

/*Footer*/

.footer-title {
    font-size: 20px;
    font-family: $font-text;
    font-weight: lighter;
}

.footer ul a{
    color:#8b1a07;
    font-size: 16px;
}

.footer ul a:hover {
    color: black;
}

.footer ul li i {
    font-size: 20px;
}


@media (max-width: 767px) {


    

.splash .page-title {
    color: #FFFAF4;
    font-size: 28px;
    font-style: italic;
    position: absolute;
    top:540px;
    text-align: center;
    font-weight: lighter;
    
    font-family: $font-text;
   
    
}

.splash .page-subtitle {
    color: #FFFAF4;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    top: 620px;
    text-align: center;
    font-weight: lighter;
    
    font-family: $font-text;
   
    
}



}

