/*General*/

*, *::before, *::after {
    box-sizing: border-box;
}

$font-text: 'Lora', serif;
$color-main: #222222;

body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;  
}

/*Navbar*/

.navbar {
position: relative;
width: 100%;
padding-top: 20px;
height: 100%;    
}

.navbar .container-fluid {
    padding: 5px;
    
}

.navbar ul {
    font-size: 18px;
    position: absolute;
    left: 60%;
    color: #ffffff;

}

.navbar ul li a {
    color: #ffffff;
}

.navbar ul li a:hover {
    color: #fed136;
    font-weight: bolder;
    font-style: italic;
}


.navbar .navbar-brand {
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-size: 38px;
}

/*Splash*/

.splash {
    height: 100vh;
    position: relative;  
}

.box {
    background-image: url('https://images.pexels.com/photos/6958462/pexels-photo-6958462.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}



.splash .page-title {
    color: #ffffff;
    font-size: 60px;
    font-style: italic;
    position: absolute;
    text-align: center;
    font-weight: lighter;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

.splash .page-subtitle {
    color: #ffffff;
    position: absolute;
    text-align: center;
    width: 800px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bolder;
    
}

.splash a{
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 22px;
text-align: center;
padding: 10px;
width: 200px;
background-color: #fed136;
color: #ffffff;
}

/*Services*/

.services-description {
    text-align: center;
    justify-content:center;
}

.services-title {
    font-size: 50px;
    font-weight: bolder;
    color: $color-main;
}

.services-subtitle {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0 0 0.2em #fed136;
    color:#65647C;
}

.col-icon i {
    color:#fed136;
}

.title-col {
    font-size: 25px;
}

.services p {
    font-size: 18px;
    color: $color-main;
}